/build
*~
.DS_Store
/*.xcodeproj/*.mode1v3
/*.xcodeproj/*.pbxuser
/CMakeFiles
/CMakeCache.txt
/cmake_install.cmake
/libOALWrapper.a
/SimpleTest
/Makefile
.vs/OALWrapper/CopilotIndices/17.14.1584.41681/CodeChunks.db
.vs/OALWrapper/CopilotIndices/17.14.1584.41681/SemanticSymbols.db
.vs/OALWrapper/FileContentIndex/242d7ced-4a06-4343-bfa1-1af23683fee7.vsidx
.vs/OALWrapper/v14/.suo
.vs/OALWrapper/v15/.suo
*.db
.vs/OALWrapper/v16/.suo
/.vs/OALWrapper/v17
_UpgradeReport_Files/UpgradeReport.css
*.xslt
_UpgradeReport_Files/UpgradeReport_Minus.gif
_UpgradeReport_Files/UpgradeReport_Plus.gif
*.obj
*.log
*.recipe
*.tlog
Debug/OALWrapper.vcxproj.FileListAbsolute.txt
lib/Debug/OALWrapper.idb
UpgradeLog.XML
OALWrapper.vcxproj.filters
OALWrapper.vcxproj.user
OALWrapper.suo
OALWrapper.sdf
sources/OAL_Device.cpp.bak
sources/OAL_OggSample.cpp.bak
*.bak
